.navbar-toggle {
    border-color: white;
}
#header {
    position: fixed;
    display: block;
    width: 100%;
    background: rgba(27, 26, 26, 0.59);
    z-index: 9;
}
#map {
    height: 50%;
}
h3 {
    text-align: center;
    border-bottom: 1px solid #000;
    line-height: 0.1em;
    margin: 10px auto 20px auto;
    width: 50%;
    position: relative;
    bottom: 1em;
}
h3 span {
    background: #fff;
    padding: 0 10px;
}
.backTOtop {
    /*position: relative;*/
    
    display: block;
}
img.top_button {
    position: absolute;
    bottom: 0;
    right: 3em;
}
#counter h3 {
    position: relative;
    top: 6em;
}
.num_counter {
    font-size: 3em;
}
#counter {
    height: 60%;
}
#counter ul {
    padding: 0;
    top: 40%;
    position: relative;
}
#counter ul li {
    text-align: center;
    list-style: none
}
#counter ul li div {
    border-radius: 50%;
    border: 1px solid rgb(214, 160, 16);
    text-align: center;
    width: 170px;
    color: white;
    background: rgba(214, 160, 16, 0.87);
    padding: 3em 2em;
    height: 170px;
    display: inline-flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 1em 4em;
    justify-content: center;
}
.container {
    height: 100%;
    padding: 0;
}
.navbar-toggle .icon-bar {
    background: white;
}
.first_page {
    background-image: url(../image/image1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    min-height: 46.5em;
}
a:hover {
    text-decoration: none;
}
.blink {
    transition: color 1s;
}
h1 {
    font-size: 42px;
    color: white;
    padding-top: 5em;
    text-align: center;
}
.button_first_page {
    width: 260px;
    height: 45px;
    border: 1px solid white;
    margin-top: 13%;
    color: white;
    padding-top: 11px;
    cursor: pointer;
}
li.active {
    background: black;
}
span.menu_homepage {
    color: white;
    font-size: 15px;
}
.navbar-nav>li>a {
    padding: 30px 10px 30px 10px;
}
span.menu_homepage:hover,
span.menu_homepage:focus,
span.menu_homepage:active {
    color: #a8aeb5;
}
.nav>li>a:hover,
.nav>li>a:focus {
    background: transparent;
    color: #a8aeb5;
}
.button_first_page:hover {
    background: #a8aeb5;
    transition: 1s;
    border-color: #a8aeb5;
    box-shadow: 0px 0px 7px 1px #151515;
}
img.logo {
    position: relative;
    top: -3.5em;
}
img.scroll-down-hint {
    position: absolute;
    bottom: 1em;
    left: 50%;
}
/*---------------------------------second page--------------------------------------*/

img.second_page_imag,
img.fifth-page-image {
    width: 100%;
}
.video-player {
    padding-right: 0;
}
p.second_pag_inner1 {
    font-size: 24px;
    color: #b2b2b2;
}
p.second_pag_inner2 {
    font-size: 36px;
    color: #636363;
    position: relative;
    top: -13px;
}
.button_second_page {
    width: 250px;
    height: 45px;
    border: 1px solid #d6a010;
    margin-top: 2em;
    color: #d6a010;
    padding-top: 9px;
    font-size: 18px;
    cursor: pointer;
    margin-bottom: 6em;
}
.button_second_page:hover {
    border: 1px solid white;
    color: white;
    background: #d6a010;
    transition: 1s;
}
img.secnd_pag_utub {
    position: absolute;
    top: 0;
    padding-left: 45.35%;
    padding-top: 33.15%;
    cursor: pointer;
}
/*-------------------------------------third page---------------------------------*/

.third_page {
    margin-top: 2em;
    margin-bottom: 1em;
}
p.third_page_inner1 {
    font-size: 36px;
    color: #636363;
    margin-top: 9%;
}
p.third_page_inner2 {
    font-size: 19px;
    color: #636363;
    line-height: 25px;
}
p.third_page_inner3 {
    font-size: 30px;
    color: #636363;
    position: relative;
    top: 10px;
    margin-bottom: 15px;
}
img.why-us-circle {
    width: 118px;
    margin-top: 2em;
}
p.third_page_inner4 {
    font-size: 18px;
    color: #636363;
}
.whyus_box {
    margin: 20% 0;
}
/*--------------------------fourth page---------------------------------*/

.fourth_page,
.sixth_page {
    padding-left: 0;
    margin-top: -1px;
    align-items: center;
    display: flex;
}
.fourth_page_div,
.sixth_page_div,
.seventh_page_div {
    padding-right: 0;
    padding-left: 0;
}
img.fourth-page-image,
img.sixth-page-image,
img.seventh-page-image {
    width: 100%;
}
p.fourth_pag_inner1 {
    font-size: 18px;
    color: #636363;
    line-height: 28px;
}
p.fourth_pag_inner2 {
    font-size: 36px;
    color: black;
}
img.share1 {
    position: absolute;
    bottom: 1.5em;
    right: 1.5em;
    cursor: pointer;
}
img.share2 {
    position: absolute;
    bottom: 1.5em;
    left: 2.5em;
    cursor: pointer;
}
img.share3 {
    position: absolute;
    bottom: 1.5em;
    left: 2.5em;
    cursor: pointer;
}
/*-------------------------fifth page-------------------------*/

.fifth_page,
.seventh_page,
.second_page {
    padding-right: 0;
    margin-top: -1px;
    display: flex;
    align-items: center;
}
img.fifth-page-image {
    width: 100%;
}
.fifth_page_div {
    padding-right: 0;
}
/*--------------------contact-----------------------------------*/

.footer_page {
    background: #282828;
    padding: 1.8em 0px;
    top: -1px;
    min-height: 18.7em;
}
p.contact_inner1 {
    font-size: 36px;
    color: #636363;
}
p.contct_inner2 {
    font-size: 36px;
    color: white;
}
span.contact_inner3 {
    color: #d6a010;
    position: relative;
    left: 7px;
    top: 7px;
}
a {
    color: white;
}
a:hover,
a:focus {
    text-decoration: none;
    color: white;
}
span.text-center.contact_inner3.source_light {
    text-decoration: none;
}
.fullscreen-bg {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    z-index: -100;
}
.fullscreen-bg__video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
/* Gallery Slider CSS */

.full-screen {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.carousel-control svg {
    margin-top: 18em;
}
.carousel-control.left,
.carousel-control.right {
    background-image: none;
}
.blink {
    -webkit-animation-name: blinker;
    -webkit-animation-duration: 1s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-name: blinker;
    -moz-animation-duration: 1s;
    -moz-animation-timing-function: linear;
    -moz-animation-iteration-count: infinite;
    animation-name: blinker;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}
@-moz-keyframes blinker {
    0% {
        opacity: 1.0;
    }
    50% {
        opacity: 0.0;
    }
    100% {
        opacity: 1.0;
    }
}
@-webkit-keyframes blinker {
    0% {
        opacity: 1.0;
    }
    50% {
        opacity: 0.0;
    }
    100% {
        opacity: 1.0;
    }
}
@keyframes blinker {
    0% {
        opacity: 1.0;
    }
    50% {
        opacity: 0.0;
    }
    100% {
        opacity: 1.0;
    }
}

.social_media ul {
    display: flex;
    justify-content: center;
}
.social_media li {
    margin: 0 20px;
}
.social_media a{
    cursor: pointer;
}

/*-----------------------------media query---------------------------------------*/

@media only screen and (max-width: 1440px) {
    #counter {
        height: 77%;
    }
}

@media only screen and (max-width: 768px) {
    .frst_page_inr2 img {
        width: 65px;
    }
    #counter h3 {
        position: relative;
        top: 1em;
    }
    p.third_page_inner1{
        margin-top: 0;
    }
    .navbar-nav>li>a {
        padding: 13px 7px 13px 7px;
    }
    h1 {
        font-size: 32px;
    }
    h3 {
        font-size: 11px;
    }
    #counter {
        height: auto;
    }
    #map {
        height: 20em;
    }
    .button_first_page {
        width: 190px;
        margin-top: 38%;
    }
    h3 span {
        padding: 0 2px;
    }
    .fourth_page,
    .sixth_page,
    .fifth_page,
    .seventh_page,
    .second_page {
        display: block;
    }
    .video-player,
    .fifth_page_div {
        padding: 0;
    }
    .sixth-page-image {
        margin-top: 15%;
    }
    p.contct_inner2 {
        font-size: 32px;
    }
    .col-xs-12 {
        padding: 10px 1px;
    }
    .carousel-control svg {
        margin-top: 14em;
    }
    img.top_button {
        display: none;
    }
    .social_media ul{
        padding: 0;
    }
    .social_media li {
        margin: 0 16px;
    }
}
